.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}
.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 4 4 4;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: tab-header-background;
}
.tab-button {
    -fx-text-fill: white;
}