<?xml version="1.0" encoding="UTF-8" standalone="no"?><JMarkPad><posX>560.0</posX><posY>147.0</posY><width>800.0</width><height>600.0</height><red>0.729411780834198</red><green>0.40784314274787903</green><blue>0.7843137383460999</blue><file>C:\Users\mayuso\Downloads\hola2.txt</file><file/></JMarkPad>